@tailwind base;
@tailwind components;
@tailwind utilities;

.light-theme {
  --c-1: #fff;
  --c-2: #f4f5f7;
  --c-4: #ebecf0;
  --c-3: #ddd;
  --c-6: #edf2f7;
  --c-7: #dbeafe;
  --c-text: #172b4d;
  --primary: #3920a9;
  --secondary: #439aff;
  --c-5: #000;
}

.dark-theme {
  --c-1: #222;
  --c-2: #363737;
  --c-text: #e2e2e2;
  --c-3: #888;
  --c-5: #fff;
  --c-4: #ebecf0;
  --c-6: #555;
  --c-7: #444;
  --primary: #3920a9;
  --secondary: #439aff;
}

@layer components {
  .btn {
    @apply px-3 py-1 rounded-[3px] bg-blue-600 text-white hover:bg-blue-700 active:bg-blue-800 whitespace-nowrap;
  }
  .btn-crystal {
    @apply px-3 py-1 rounded-[3px] hover:bg-c-6 active:bg-c-7;
  }
  .btn-alert {
    @apply px-3 py-1 rounded-[3px] bg-red-500 text-white hover:bg-red-600 active:bg-red-700 whitespace-nowrap;
  }
  .icon-btn {
    @apply p-1 hover:bg-c-2 rounded-[3px];
  }
  .bg-jira-gradient {
    @apply bg-gradient-to-r from-[#151642] to-[#321898];
  }
}
